/* Reset de estilos y configuración básica */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .background {
    width: 100%;
  }
  
  .container {
    max-width: 1400px;
    padding: 20px;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  .admin-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .admin-link:hover {
    background-color: #555;
  }
  
  .content {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 7em;
    margin-bottom: 30px;
    text-transform: ;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
    h1 {
      font-size: 3.5em;
    }
    button {
      padding: 12px 24px;
      font-size: 1em;
    }
  }